
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/misc.xml
.idea/Prntsc_Scraper.iml
.idea/vcs.xml
.idea/workspace.xml
output_001/20wz9f2.jpg
